<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.clientLibMapper">
<select id="clientLibList" resultType="cliDto">
	select NOTICE_NO noticeNo, NOTICE_SUB noticeSub, NOTICE_CON noticeCon, NOTICE_DATE noticeDate,
		   NOTICE_KIND noticeKind, NOTICE_FILE, NOTICE_COUNT noticeCount, EMPLOYEE_ID employeeId
	from notice
	where Notice_kind = '고객의 소리'
</select>
<select id="counting" resultType="string">
	select nvl(max(notice_no), 0) + 1 from notice
</select>
<insert id="write" parameterType="cliDto">
	insert into notice (NOTICE_NO, NOTICE_SUB, NOTICE_CON, NOTICE_DATE,
						NOTICE_KIND, NOTICE_FILE, NOTICE_COUNT, EMPLOYEE_ID)
	values (#{noticeNo},#{noticeSub},#{noticeCon},sysdate,#{noticeKind},null,0,#{employeeId})
	
</insert>
</mapper>